In [8]:
import numpy as np
import pandas as pd

GOAL: 가맹점 경영 위기 조기 경보 시스템 제안

- 폐업 여부 예측(이진분류?) >> 주 요인은 무엇인가 >> 어떻게 방지할 것인가

# EDA

In [9]:
df_1 = pd.read_csv("big_data_set1_f.csv", encoding="cp949")
df_2 = pd.read_csv("big_data_set2_f.csv", encoding="cp949")
df_3 = pd.read_csv("big_data_set3_f.csv", encoding="cp949")

## df_1

### 개요

In [10]:
df_1.head()

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
0,16184E93D9,서울 성동구 마장동,성우**,NaN,서울 성동구,축산물,마장동,20130320,NaN
1,4D039EA8B7,서울 성동구 마장동,대보**,NaN,서울 성동구,축산물,마장동,20131122,NaN
2,0074C4990A,서울 성동구 마장동,대용**,NaN,서울 성동구,축산물,마장동,20140512,NaN
3,68308F2746,서울 성동구 마장동,통일**,NaN,서울 성동구,축산물,마장동,20151124,NaN
4,4117EDDE9C,서울 성동구 마장동,한울**,NaN,서울 성동구,축산물,마장동,20151211,NaN

- 가맹점 주소
- 가맹점명
- 브랜드구분코드
- 가맹점지역
- 업종
- 상권
- 개설일
- 폐업일

In [11]:
df_1.isnull().sum()

ENCODED_MCT              0
MCT_BSE_AR               0
MCT_NM                   0
MCT_BRD_NUM           3643
MCT_SIGUNGU_NM           0
HPSN_MCT_ZCD_NM          0
HPSN_MCT_BZN_CD_NM    1047
ARE_D                    0
MCT_ME_D              4058
dtype: int64

In [12]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185 entries, 0 to 4184
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ENCODED_MCT         4185 non-null   object
 1   MCT_BSE_AR          4185 non-null   object
 2   MCT_NM              4185 non-null   object
 3   MCT_BRD_NUM         542 non-null    object
 4   MCT_SIGUNGU_NM      4185 non-null   object
 5   HPSN_MCT_ZCD_NM     4185 non-null   object
 6   HPSN_MCT_BZN_CD_NM  3138 non-null   object
 7   ARE_D               4185 non-null   int64
 8   MCT_ME_D            127 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 294.4+ KB

### 브랜드

In [13]:
df_1['MCT_BRD_NUM'].nunique()

# 브랜드의 대부분이 null > drop 하는 게 나을지도?
# 아니면 가맹/비가맹 나누어 접근?

287

In [15]:
df_1['MCT_BRD_NUM'].unique()

array([nan, '치킨19', '피자2', '축산물2', '베이커리10', '한식-냉면1', '피자8', '식료품3',
       '아이스크림/빙수2', '치킨6', '샌드위치/토스트2', '햄버거2', '도시락3', '피자7',
       '한식-육류/고기25', '치킨14', '중식당3', '치킨18', '햄버거1', '베이커리2', '치킨21',
       '분식19', '한식-육류/고기8', '치킨27', '커피전문점6', '분식4', '주류1', '호프/맥주3',
       '커피전문점4', '호프/맥주7', '주스1', '백반/가정식23', '도시락2', '한식-죽2', '중식당1',
       '한식-육류/고기21', '한식-찌개/전골1', '분식12', '분식10', '샌드위치/토스트3', '커피전문점9',
       '청과물1', '베이커리6', '치킨25', '치킨3', '한식-국밥/설렁탕14', '치킨15', '치킨8',
       '커피전문점11', '커피전문점10', '분식13', '한식-해물/생선5', '피자10', '백반/가정식22',
       '피자5', '한식-단품요리일반6', '치킨36', '아이스크림/빙수6', '한식-육류/고기31', '햄버거3',
       '한식-육류/고기24', '한식-국밥/설렁탕8', '한식-육류/고기20', '한식-해물/생선2', '치킨37',
       '치킨2', '한식-국수/만두7', '한식-육류/고기22', '기타세계요리1', '커피전문점1', '치킨33',
       '백반/가정식18', '한식-육류/고기5', '한식-감자탕1', '피자1', '카페11', '분식1', '카페8',
       '백반/가정식1', '한식-육류/고기30', '동남아/인도음식6', '치킨16', '한식-국수/만두3', '피자3',
       '한식-육류/고기19', '치킨20', '치킨32', '커피전문점2', '건강식품1', '호프/맥주2',
       '한식-해물/생선4', '식료품1', '아이스크림/빙수1', '한식-국수/만두6', '유제품1', '베이커리8',
       '호프/맥주1', '분식15', '한식-육류/고기29', '커피전문점3', '반찬1', '한식-육류/고기11',
       '일식당3', '분식9', '한식-죽1', '한식-육류/고기16', '수산물1', '중식당5', '백반/가정식19',
       '일식-샤브샤브1', '카페9', '한식-국밥/설렁탕12', '아이스크림/빙수5', '한식-육류/고기26',
       '한식-육류/고기7', '한식-육류/고기17', '샌드위치/토스트1', '커피전문점15', '차1', '반찬2',
       '한식-국밥/설렁탕6', '분식3', '요리주점1', '도시락1', '한식-해물/생선3', '한식-국밥/설렁탕4',
       '한식-국밥/설렁탕3', '한식-국밥/설렁탕11', '한식-국밥/설렁탕1', '백반/가정식16', '치킨30',
       '치킨13', '꼬치구이3', '일식-덮밥/돈가스1', '한식-육류/고기14', '카페14', '한식-국밥/설렁탕5',
       '분식7', '백반/가정식17', '분식5', '백반/가정식14', '한식-육류/고기27', '한식-단품요리일반11',
       '한식-단품요리일반8', '백반/가정식8', '한식-단품요리일반1', '분식8', '치킨39', '분식18',
       '치킨10', '카페7', '백반/가정식4', '커피전문점13', '치킨7', '치킨1', '건강식품3',
       '아이스크림/빙수3', '한식-단품요리일반5', '건강식품2', '식료품2', '한식-육류/고기10', '치킨23',
       '주류2', '백반/가정식7', '백반/가정식2', '중식당8', '치킨26', '축산물1', '샌드위치/토스트4',
       '한식-국밥/설렁탕7', '치킨11', '치킨4', '치킨38', '커피전문점7', '백반/가정식10',
       '한식-국수/만두4', '호프/맥주6', '커피전문점12', '한식-찌개/전골3', '일식-덮밥/돈가스3',
       '한식-국수/만두1', '양식1', '한식-육류/고기13', '치킨28', '분식11', '기타세계요리2',
       '호프/맥주5', '룸살롱/단란주점1', '베이커리1', '치킨35', '치킨22', '치킨40',
       '한식-국수/만두2', '치킨29', '카페13', '한식-단품요리일반3', '백반/가정식12', '한식-죽3',
       '분식17', '커피전문점14', '중식당9', '카페6', '한식-국밥/설렁탕9', '치킨17', '치킨5',
       '동남아/인도음식5', '치킨9', '카페4', '커피전문점5', '한식-육류/고기23', '카페12',
       '한식-국수/만두5', '카페3', '카페2', '베이커리3', '한식-냉면2', '한식-육류/고기12',
       '베이커리4', '한식-단품요리일반2', '와인바1', '백반/가정식20', '꼬치구이2', '한식-육류/고기15',
       '일식-덮밥/돈가스2', '한식-찌개/전골2', '분식2', '분식16', '담배1', '한식-육류/고기3',
       '카페5', '중식당4', '치킨31', '베이커리5', '호프/맥주4', '백반/가정식21', '백반/가정식24',
       '백반/가정식6', '한식-단품요리일반10', '분식6', '카페10', '백반/가정식9', '카페1',
       '동남아/인도음식7', '중식당6', '백반/가정식13', '한식-육류/고기18', '한식-육류/고기9', '피자4',
       '치킨34', '피자6', '커피전문점8', '한식-단품요리일반7', '분식14', '중식당2', '한식-국수/만두8',
       '식품 제조1', '한식-육류/고기28', '한식-해물/생선6', '포장마차1', '일식당1', '꼬치구이1',
       '아이스크림/빙수4', '백반/가정식3', '베이커리9', '동남아/인도음식3', '요리주점2', '한식-육류/고기4',
       '한식-육류/고기6', '카페15', '치킨41', '동남아/인도음식4', '동남아/인도음식1', '동남아/인도음식2',
       '분식20', '일식당4', '일식당2', '중식당7', '한식-육류/고기32', '한식-국밥/설렁탕2', '치킨24',
       '백반/가정식5', '한식-단품요리일반4', '치킨12', '피자9', '한식-국밥/설렁탕10', '한식-육류/고기1',
       '베이커리7', '한식-단품요리일반9'], dtype=object)

In [86]:
df_1[df_1['MCT_BRD_NUM'].str.contains('^치킨', na=False)]

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
18,3E35A71757,서울 성동구 마장동,멕시*****,치킨19,서울 성동구,치킨,NaN,20050830,NaN
75,5946F40892,서울 성동구 금호로 62,교촌******,치킨6,서울 성동구,치킨,금남시장,20130325,NaN
98,54529B6426,서울 성동구 상원길 52,둘둘***********,치킨14,서울 성동구,치킨,뚝섬,20101101,NaN
101,3B0F367222,서울 성동구 성수동2가,맛닭******,치킨18,서울 성동구,치킨,성수,20000906,NaN
117,1527B8DFD5,서울 성동구 무수막길,미스***,치킨21,서울 성동구,치킨,신금호,20121023,NaN
...,...,...,...,...,...,...,...,...,...
3918,EA3F4A792D,서울특별시 성동구 고산자로6길 31-1,닥엔*******,치킨12,서울 성동구,치킨,NaN,20210311,NaN
4018,E27C1862C9,서울특별시 성동구 용답중앙13길 6-1,교촌******,치킨6,서울 성동구,치킨,답십리,20230503,NaN
4108,FE30B6645E,서울특별시 성동구 왕십리로24길 27-1,후라**************,치킨40,서울 성동구,치킨,왕십리,20190124,20230321.0
4109,1AC8580FC6,서울특별시 성동구 왕십리로24길 27-1,후라**************,치킨40,서울 성동구,치킨,왕십리,20230321,NaN
4177,FCCA295301,서울특별시 성동구 무학봉길 53-1,비비***,치킨2,서울 성동구,치킨,NaN,20221117,NaN

In [88]:
df_1[(~df_1['MCT_BRD_NUM'].isna()) & (~df_1['MCT_ME_D'].isna())]

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
107,4349A8302A,서울 성동구 장터길 23,롯데******,햄버거1,서울 성동구,햄버거,금남시장,20150812,20250818.0
159,FCAF2BC53E,서울 성동구 마조로 21.,빽다******,커피전문점4,서울 성동구,커피전문점,한양대,20150731,20250818.0
760,1F01798D03,서울 성동구 왕십리로 100.,리김*******,분식9,서울 성동구,분식,뚝섬,20190417,20250814.0
1063,6A2D56434E,서울 성동구 마조로1가길 14.,도담**,치킨13,서울 성동구,치킨,한양대,20160509,20230911.0
1582,E76CBA6E55,서울특별시 성동구 마장로 137,노랑*******,치킨11,서울 성동구,치킨,NaN,20210702,20250811.0
1963,C1FA7755FC,서울특별시 성동구 성수이로 90,사람************,백반/가정식12,서울 성동구,백반/가정식,성수,20190529,20250729.0
1972,08336C3B85,서울특별시 성동구 성수일로 47,담소**********,한식-단품요리일반3,서울 성동구,한식-단품요리일반,NaN,20171215,20250702.0
2334,2D56DC79C1,서울특별시 성동구 마장로23길 7,처갓*********,치킨30,서울 성동구,치킨,NaN,20190129,20230515.0
2335,F439455087,서울특별시 성동구 마장로23길 7,처갓**********,치킨30,서울 성동구,치킨,NaN,20230515,20241028.0
2607,12A28908F1,서울특별시 성동구 왕십리로 315,바나********,카페5,서울 성동구,카페,왕십리,20240123,20250729.0
2611,203FCB7DD9,서울특별시 성동구 왕십리로 328,써브********,샌드위치/토스트2,서울 성동구,샌드위치/토스트,왕십리,20190724,20250716.0
2656,4E8BDFA3D8,서울특별시 성동구 왕십리로 410,한솥*********,도시락3,서울 성동구,도시락,NaN,20230824,20250808.0
2758,9D2E924E3E,서울특별시 성동구 행당로 125-4,하노*****,동남아/인도음식7,서울 성동구,동남아/인도음식,왕십리,20180622,20250730.0
3235,2A74299DD1,서울특별시 성동구 마조로1가길 14,도담*******,치킨13,서울 성동구,치킨,한양대,20230911,20250407.0
3877,E9CAEBD784,서울특별시 성동구 용답중앙11길 13,남원***,한식-해물/생선2,서울 성동구,한식-해물/생선,답십리,20180514,20231127.0
4108,FE30B6645E,서울특별시 성동구 왕십리로24길 27-1,후라**************,치킨40,서울 성동구,치킨,왕십리,20190124,20230321.0

### 업종

In [16]:
df_1['HPSN_MCT_ZCD_NM'].nunique()

73

In [17]:
df_1['HPSN_MCT_ZCD_NM'].unique()

array(['축산물', '식품 제조', '한식-육류/고기', '한식-찌개/전골', '중식당', '식료품', '한식-국수/만두',
       '인삼제품', '한식-단품요리일반', '한식-해물/생선', '치킨', '피자', '베이커리', '요리주점',
       '한식-냉면', '백반/가정식', '한식-국밥/설렁탕', '반찬', '떡/한과 제조', '건강식품', '커피전문점',
       '아이스크림/빙수', '룸살롱/단란주점', '일식-덮밥/돈가스', '카페', '분식', '샌드위치/토스트', '일식당',
       '한식-감자탕', '햄버거', '도시락', '꼬치구이', '양식', '포장마차', '미곡상', '주류', '호프/맥주',
       '주스', '한식-죽', '일식-우동/소바/라면', '농산물', '청과물', '담배', '건어물', '수산물',
       '건강원', '기타세계요리', '일반 유흥주점', '동남아/인도음식', '한식-두부요리', '이자카야', '테마카페',
       '유제품', '일식-초밥/롤', '와인바', '와인샵', '한식뷔페', '탕후루', '일식-샤브샤브', '일식-참치회',
       '차', '떡/한과', '기사식당', '테이크아웃커피', '와플/크로플', '마카롱', '중식-훠궈/마라탕',
       '구내식당/푸드코트', '도너츠', '스테이크', '민속주점', '중식-딤섬/중식만두', '한정식'],
      dtype=object)

### 상권

In [18]:
df_1['HPSN_MCT_BZN_CD_NM'].unique()

array(['마장동', nan, '한양대', '장한평자동차', '답십리', '왕십리', '행당', '뚝섬', '옥수', '신금호',
       '금남시장', '성수', '서면역', '건대입구', '동대문역사문화공원역', '압구정로데오', '오남', '화양시장',
       '방배역', '미아사거리', '풍산지구', '자양'], dtype=object)

In [19]:
df_1['HPSN_MCT_BZN_CD_NM'].isna().sum()

np.int64(1047)

In [20]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '마장동']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
0,16184E93D9,서울 성동구 마장동,성우**,NaN,서울 성동구,축산물,마장동,20130320,NaN
1,4D039EA8B7,서울 성동구 마장동,대보**,NaN,서울 성동구,축산물,마장동,20131122,NaN
2,0074C4990A,서울 성동구 마장동,대용**,NaN,서울 성동구,축산물,마장동,20140512,NaN
3,68308F2746,서울 성동구 마장동,통일**,NaN,서울 성동구,축산물,마장동,20151124,NaN
4,4117EDDE9C,서울 성동구 마장동,한울**,NaN,서울 성동구,축산물,마장동,20151211,NaN
...,...,...,...,...,...,...,...,...,...
4140,39A0648E6F,서울특별시 성동구 청계천로10나길 80,주향****,NaN,서울 성동구,꼬치구이,마장동,20210329,NaN
4143,7D29798181,서울특별시 성동구 청계천로10다길 61,마천*********,NaN,서울 성동구,축산물,마장동,20171019,NaN
4144,FC94397B9D,서울특별시 성동구 청계천로12가길 51,한결**,NaN,서울 성동구,축산물,마장동,20220221,NaN
4155,1F8450ED67,서울특별시 성동구 청계천로12가길 40-3,신영****,NaN,서울 성동구,축산물,마장동,20210805,NaN
4157,4A2D564D9B,서울특별시 성동구 청계천로12가길 75-3,브이****,NaN,서울 성동구,룸살롱/단란주점,마장동,20201123,NaN

In [21]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '한양대']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
8,145BA84596,서울 성동구 사근동,고향***,NaN,서울 성동구,한식-찌개/전골,한양대,20140618,NaN
54,E1C897591D,서울 성동구 행당동,코페*,NaN,서울 성동구,한식-단품요리일반,한양대,20061023,NaN
59,C1C06DF70A,서울 성동구 마조로 9,설빙****,아이스크림/빙수2,서울 성동구,아이스크림/빙수,한양대,20140623,NaN
68,7C3795DF2D,서울 성동구 행당1동,한양***********,NaN,서울 성동구,식료품,한양대,20090311,NaN
69,E9EB56D7EC,서울 성동구 행당1동,한양***,NaN,서울 성동구,한식-육류/고기,한양대,20100719,NaN
...,...,...,...,...,...,...,...,...,...
3422,26ACE594E8,서울특별시 성동구 왕십리로 215-2,플랏*********,NaN,서울 성동구,카페,한양대,20211130,NaN
3423,87D1FC164F,서울특별시 성동구 왕십리로 217-1,피자**********,피자8,서울 성동구,피자,한양대,20170315,NaN
3424,4EF5BD22BD,서울특별시 성동구 왕십리로 219-1,제이*****,NaN,서울 성동구,양식,한양대,20240202,NaN
3425,26DE9DB5A2,서울특별시 성동구 왕십리로 221-5,묵사*,NaN,서울 성동구,한식-단품요리일반,한양대,20200602,NaN
3633,95C390B637,서울특별시 성동구 마조로11길 11-1,꼬*,NaN,서울 성동구,카페,한양대,20240129,NaN

In [22]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '장한평자동차']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
10,BAACCE3A2C,서울 성동구 용답동,좋은**,NaN,서울 성동구,식료품,장한평자동차,20130305,NaN
46,9D085B6A2F,서울 성동구 용답동,동부**,NaN,서울 성동구,백반/가정식,장한평자동차,20110329,NaN
47,6D8F7BBA89,서울 성동구 용답동,고향**,NaN,서울 성동구,한식-단품요리일반,장한평자동차,20030421,NaN
789,CA4136E334,서울 성동구 천호대로 440.,와이************,NaN,서울 성동구,건강식품,장한평자동차,20221021,NaN
1505,0AFA56720B,서울 성동구 자동차시장1길 34,재동***,NaN,서울 성동구,백반/가정식,장한평자동차,20020430,NaN
1506,6B4A395662,서울 성동구 자동차시장1길 70,맛나**,NaN,서울 성동구,백반/가정식,장한평자동차,20150520,NaN
1508,389E239904,서울 성동구 천호대로 352-13.,용답****,NaN,서울 성동구,기사식당,장한평자동차,20130725,NaN
1509,1EAFF3E9E0,서울 성동구 천호대로 396-15.,삼미**,NaN,서울 성동구,한식-육류/고기,장한평자동차,20061025,NaN
1767,9304FF81A2,서울 성동구 자동차시장1길 70.,이조***,NaN,서울 성동구,한식-국밥/설렁탕,장한평자동차,20140321,NaN
1769,202F736EBC,서울 성동구 자동차시장1길 90.,화목***,NaN,서울 성동구,백반/가정식,장한평자동차,20131202,NaN
2150,0FA542A8DB,서울 성동구 자동차시장1길 70 .,대지**,NaN,서울 성동구,카페,장한평자동차,20190625,NaN
2151,9042A5401C,서울 성동구 자동차시장1길 96 .,비바***,NaN,서울 성동구,카페,장한평자동차,20181004,20250806.0
2723,BF872A7E89,서울특별시 성동구 천호대로 400,매머**************,카페4,서울 성동구,카페,장한평자동차,20170306,NaN
2724,BA9B0547FD,서울특별시 성동구 천호대로 416,투썸**********,커피전문점13,서울 성동구,커피전문점,장한평자동차,20230717,NaN
2725,85C6B72386,서울특별시 성동구 천호대로 426,메가***************,커피전문점2,서울 성동구,커피전문점,장한평자동차,20240904,NaN
2726,C2A525F314,서울특별시 성동구 천호대로 426,폭*,NaN,서울 성동구,일반 유흥주점,장한평자동차,20241115,NaN
2727,A523C21333,서울특별시 성동구 천호대로 432,큐브******,NaN,서울 성동구,일반 유흥주점,장한평자동차,20210506,NaN
2768,F677279FBB,서울 성동구 자동차시장1길 24-1.,청해*,중식당6,서울 성동구,중식당,장한평자동차,20070629,NaN
2769,65199A38DE,서울 성동구 자동차시장1길 30-10,뚱이***,NaN,서울 성동구,포장마차,장한평자동차,20150713,NaN
3120,B5AD8350EE,서울 성동구 자동차시장1길 94-15.,동대******,NaN,서울 성동구,한식-찌개/전골,장한평자동차,20180516,NaN
3518,2EAE67C0B4,서울특별시 성동구 천호대로 380-7,바나********,카페5,서울 성동구,카페,장한평자동차,20231110,NaN
4023,CED8E4AEE5,서울특별시 성동구 자동차시장1길 30,이도**,NaN,서울 성동구,카페,장한평자동차,20200612,NaN
4024,FB53D5547B,서울특별시 성동구 자동차시장1길 30,고*,NaN,서울 성동구,백반/가정식,장한평자동차,20240328,NaN
4025,01EDD97C21,서울특별시 성동구 자동차시장1길 39,일카*,NaN,서울 성동구,커피전문점,장한평자동차,20190208,NaN
4026,239818D1A0,서울특별시 성동구 자동차시장1길 39,의정*****,한식-찌개/전골2,서울 성동구,한식-찌개/전골,장한평자동차,20230817,NaN
4027,3CFB121A76,서울특별시 성동구 자동차시장1길 41,한컵**,NaN,서울 성동구,청과물,장한평자동차,20231012,NaN
4028,34ADC7D5B3,서울특별시 성동구 자동차시장1길 70,카페**,NaN,서울 성동구,카페,장한평자동차,20231117,NaN
4029,88E81CCBFD,서울특별시 성동구 자동차시장1길 70,코롱**,NaN,서울 성동구,식료품,장한평자동차,20221129,NaN
4030,E6C9F20B2C,서울특별시 성동구 자동차시장1길 70,다*,NaN,서울 성동구,한정식,장한평자동차,20171031,NaN
4031,D8D8741AE4,서울특별시 성동구 자동차시장1길 70,밀물**,NaN,서울 성동구,백반/가정식,장한평자동차,20190422,NaN
4032,CACF934A33,서울특별시 성동구 자동차시장1길 70,남도**,NaN,서울 성동구,백반/가정식,장한평자동차,20191202,NaN
4033,D757DF77E2,서울특별시 성동구 자동차시장1길 70,전라***,NaN,서울 성동구,백반/가정식,장한평자동차,20210330,NaN
4034,3D56F4D9D7,서울특별시 성동구 자동차시장1길 70,영광**,NaN,서울 성동구,백반/가정식,장한평자동차,20221031,NaN
4035,EB8CAF5738,서울특별시 성동구 자동차시장1길 70,삼천***,NaN,서울 성동구,백반/가정식,장한평자동차,20230426,NaN
4036,056644D0B0,서울특별시 성동구 자동차시장1길 70,광주**,NaN,서울 성동구,백반/가정식,장한평자동차,20240913,NaN
4037,4912143622,서울특별시 성동구 자동차시장1길 70,장평**,NaN,서울 성동구,한식-육류/고기,장한평자동차,20240226,NaN
4038,5811A8E05B,서울특별시 성동구 자동차시장1길 70,이일******,NaN,서울 성동구,한식-단품요리일반,장한평자동차,20171205,NaN
4039,C0B5FF000E,서울특별시 성동구 자동차시장1길 70,시골******,NaN,서울 성동구,한식-단품요리일반,장한평자동차,20210112,NaN
4040,B16991A830,서울특별시 성동구 자동차시장1길 70,서울**,NaN,서울 성동구,한식-단품요리일반,장한평자동차,20240618,NaN
4041,C71D78655F,서울특별시 성동구 자동차시장1길 85,그레******,NaN,서울 성동구,카페,장한평자동차,20220324,20231018.0
4042,41FCF57F43,서울특별시 성동구 자동차시장1길 85,그레*****,NaN,서울 성동구,카페,장한평자동차,20231018,NaN

In [23]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '답십리']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
11,BE3EAEA415,서울 성동구 용답동,별난**,NaN,서울 성동구,한식-국수/만두,답십리,20140107,NaN
203,D9C37DB102,서울 성동구 용답19길 5,로데***,NaN,서울 성동구,한식-육류/고기,답십리,20050525,NaN
204,F5F6298388,서울 성동구 용답동 5-3,동호**,NaN,서울 성동구,일식당,답십리,19960112,NaN
329,7DF4881E0F,서울 성동구 용답19길 5.,조개****,NaN,서울 성동구,한식-해물/생선,답십리,20080701,NaN
330,D6F7A9FA64,서울 성동구 용답19길 9.,애솔*****,NaN,서울 성동구,한식-육류/고기,답십리,20000727,NaN
...,...,...,...,...,...,...,...,...,...
4130,E825CDB209,서울특별시 성동구 용답중앙13길 16-1,황우**,NaN,서울 성동구,한식뷔페,답십리,20230927,NaN
4131,877441E8F5,서울특별시 성동구 용답중앙15길 15-2,심봉******,베이커리7,서울 성동구,베이커리,답십리,20220809,NaN
4132,2B06E192A3,서울특별시 성동구 용답중앙23길 16-2,모찌*****,NaN,서울 성동구,마카롱,답십리,20230417,NaN
4166,E945237BD4,서울 성동구 용답길 157-31,장성**,NaN,서울 성동구,백반/가정식,답십리,20200827,NaN
4178,58B1DEEE5D,서울특별시 성동구 용답29길 28,럼프**************,NaN,서울 성동구,카페,답십리,20230504,NaN

In [24]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '왕십리']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
12,01AAD3CFFA,서울 성동구 행당동,행당**,NaN,서울 성동구,식료품,왕십리,20160513,NaN
14,E606947836,서울 성동구 홍익동,정*,NaN,서울 성동구,중식당,왕십리,20150918,NaN
16,B584924DB0,서울 성동구 행당1동,왕십****,NaN,서울 성동구,식품 제조,왕십리,20140828,NaN
17,2344622681,서울 성동구 도선동,광한******,NaN,서울 성동구,한식-해물/생선,왕십리,20110502,NaN
31,99730CC7C5,서울 성동구 마장동,진*,NaN,서울 성동구,요리주점,왕십리,20000420,NaN
...,...,...,...,...,...,...,...,...,...
4111,091DB36DAA,서울특별시 성동구 왕십리로24나길 10,중화*****,NaN,서울 성동구,중식당,왕십리,20210916,NaN
4112,07E06697D9,서울특별시 성동구 왕십리로24나길 14,류가***,NaN,서울 성동구,꼬치구이,왕십리,20230918,NaN
4113,7D27EA6A09,서울특별시 성동구 왕십리로24나길 20,춘리********,NaN,서울 성동구,중식당,왕십리,20230512,NaN
4149,671826BB1A,서울특별시 성동구 왕십리로21가길 3-1,옥이*,NaN,서울 성동구,포장마차,왕십리,20191002,NaN
4169,F4696BFFD9,서울특별시 성동구 고산자로 284,그린*,NaN,서울 성동구,백반/가정식,왕십리,20221124,NaN

In [25]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '행당']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
13,C3E6D8B14F,서울 성동구 행당동,이혜*******,NaN,서울 성동구,인삼제품,행당,20131216,NaN
50,21752D89FB,서울 성동구 행당동,영*,NaN,서울 성동구,건강식품,행당,20090316,NaN
51,80E637212D,서울 성동구 행당동,에스******,NaN,서울 성동구,커피전문점,행당,20110808,NaN
52,CEF3D93273,서울 성동구 행당동,종로**,NaN,서울 성동구,떡/한과 제조,행당,20061026,NaN
53,33361C935B,서울 성동구 행당동,만두**,NaN,서울 성동구,한식-국수/만두,행당,20101112,NaN
...,...,...,...,...,...,...,...,...,...
2766,43C7FF8A46,경기 동두천시 중앙로265번길 30.,은하***,NaN,서울 성동구,한식-해물/생선,행당,20191030,NaN
3909,4207B38494,서울특별시 성동구 행당로8길 15-13,인생**,NaN,서울 성동구,백반/가정식,행당,20190522,NaN
4102,0667DA4B74,서울특별시 성동구 왕십리로21길 39-1,오블*************,NaN,서울 성동구,양식,행당,20221028,NaN
4103,255EEC201D,서울특별시 성동구 왕십리로21길 39-1,호남**,NaN,서울 성동구,한식-찌개/전골,행당,20190524,NaN
4104,20540DA43D,서울특별시 성동구 왕십리로21길 45-1,연디**,NaN,서울 성동구,베이커리,행당,20200408,NaN

In [26]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '뚝섬']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
41,1F5C564B04,서울 성동구 상원길,맛드*,NaN,서울 성동구,반찬,뚝섬,20130410,NaN
42,69EE47A25B,서울 성동구 상원길,피자********,피자8,서울 성동구,피자,뚝섬,20121231,NaN
43,6E87D8EF74,서울 성동구 상원길,담바*,NaN,서울 성동구,한식-육류/고기,뚝섬,20140318,NaN
61,8749D150F3,서울 성동구 상원6길,오가******,NaN,서울 성동구,한식-해물/생선,뚝섬,20111103,NaN
96,7D6F493369,서울 성동구 상원6길 5,춘천***,한식-육류/고기25,서울 성동구,한식-육류/고기,뚝섬,20000318,NaN
...,...,...,...,...,...,...,...,...,...
4126,A6324E2F43,서울특별시 성동구 왕십리로4길 26-22,맥문*,NaN,서울 성동구,한식-단품요리일반,뚝섬,20190605,NaN
4147,F74D26733C,서울특별시 성동구 왕십리로14길 28-15,플디**********,NaN,서울 성동구,베이커리,뚝섬,20240731,NaN
4148,7B038FEF47,서울특별시 성동구 왕십리로14길 30-11,포어**,NaN,서울 성동구,카페,뚝섬,20220705,NaN
4150,01EBAA3D0F,서울특별시 성동구 왕십리로8길 15,샐러****************,NaN,서울 성동구,샌드위치/토스트,뚝섬,20210614,NaN
4160,142D8C5954,서울특별시 성동구 왕십리로16가길 10-30,뻬따*******,NaN,서울 성동구,양식,뚝섬,20230913,NaN

In [27]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '옥수']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
63,94C8165F35,서울 성동구 옥수2동,전주*******,NaN,서울 성동구,백반/가정식,옥수,19981207,NaN
64,ED815EC186,서울 성동구 옥수2동,양지***,NaN,서울 성동구,한식-육류/고기,옥수,20000607,NaN
65,FBDA2A8798,서울 성동구 옥수2동,장군**,NaN,서울 성동구,한식-육류/고기,옥수,20021109,NaN
66,147235F3A5,서울 성동구 옥수2동,돈까*,NaN,서울 성동구,일식-덮밥/돈가스,옥수,20070314,NaN
92,7102ACD438,서울 성동구 매봉길 2.,인덕***,NaN,서울 성동구,양식,옥수,20180117,NaN
...,...,...,...,...,...,...,...,...,...
3901,093D848452,서울특별시 성동구 한림말3길 15-16,치카***,NaN,서울 성동구,일식-우동/소바/라면,옥수,20231221,NaN
4058,EC91C206FC,서울특별시 성동구 독서당로39길 43-1,오렌********,NaN,서울 성동구,주류,옥수,20201231,NaN
4059,E1DF41CE78,서울특별시 성동구 독서당로39길 43-1,소림******,NaN,서울 성동구,중식당,옥수,20220316,NaN
4060,B723E3740D,서울특별시 성동구 독서당로39길 43-1,연스***,NaN,서울 성동구,일식-참치회,옥수,20200710,NaN
4061,F16D48C37E,서울특별시 성동구 독서당로40길 25-1,부부*****,NaN,서울 성동구,한식-육류/고기,옥수,20201204,NaN

In [28]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '신금호']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
72,4DEDE7CD03,서울 성동구 금호동2가,닭한*****,NaN,서울 성동구,한식-육류/고기,신금호,20041102,NaN
116,3C97811992,서울 성동구 무수막길,강정***,NaN,서울 성동구,치킨,신금호,20091029,NaN
117,1527B8DFD5,서울 성동구 무수막길,미스***,치킨21,서울 성동구,치킨,신금호,20121023,NaN
119,F1823DF685,서울 성동구 금호로 151,포마***,분식19,서울 성동구,분식,신금호,20100624,NaN
120,1361C9B25C,서울 성동구 금호로 168,사와**,NaN,서울 성동구,분식,신금호,20081229,NaN
...,...,...,...,...,...,...,...,...,...
3261,F5FA25FE2A,서울특별시 성동구 무수막18길 6-2,홍대****,NaN,서울 성동구,식료품,신금호,20230530,NaN
3262,158A1920D0,서울특별시 성동구 무수막길 89-31,레몬*,NaN,서울 성동구,카페,신금호,20190429,NaN
3263,832EC92421,서울특별시 성동구 무수막길 89-38,비비***********,치킨2,서울 성동구,치킨,신금호,20230405,NaN
4057,78E08EABED,서울특별시 성동구 금호산길 60-1,삼형*******,NaN,서울 성동구,분식,신금호,20230327,NaN
4176,FF079A30CE,서울특별시 성동구 금호로11길 3,금호***,NaN,서울 성동구,한식-육류/고기,신금호,20220415,NaN

In [29]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '금남시장']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
73,8F1003CA95,서울 성동구 금호동3가,귀일**,NaN,서울 성동구,분식,금남시장,20160315,NaN
74,04BACBFB49,서울 성동구 금호로 56,해장***,NaN,서울 성동구,백반/가정식,금남시장,20070125,NaN
75,5946F40892,서울 성동구 금호로 62,교촌******,치킨6,서울 성동구,치킨,금남시장,20130325,NaN
106,BEFB51F3ED,서울 성동구 장터3길 8,뚱이***,NaN,서울 성동구,한식-감자탕,금남시장,20150407,NaN
107,4349A8302A,서울 성동구 장터길 23,롯데******,햄버거1,서울 성동구,햄버거,금남시장,20150812,20250818.0
...,...,...,...,...,...,...,...,...,...
3926,31F9AECFCC,서울특별시 성동구 독서당로48길 8-1,메밀*******,NaN,서울 성동구,한식-국수/만두,금남시장,20201208,NaN
4062,289F79B6BC,서울특별시 성동구 독서당로46가길 28,더빌**,NaN,서울 성동구,한식-단품요리일반,금남시장,20220418,NaN
4063,0E47B24887,서울특별시 성동구 독서당로46길 38-1,라파**,NaN,서울 성동구,카페,금남시장,20221216,NaN
4064,40D0F833AA,서울특별시 성동구 독서당로47길 12-1,곽쓰*,NaN,서울 성동구,중식당,금남시장,20231204,NaN
4145,02080D3457,서울특별시 성동구 금호산2길 21-1,앂.**************,NaN,서울 성동구,양식,금남시장,20221011,NaN

In [30]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '성수']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
101,3B0F367222,서울 성동구 성수동2가,맛닭******,치킨18,서울 성동구,치킨,성수,20000906,NaN
102,4208C4C0A7,서울 성동구 성수동2가,삼오***,NaN,서울 성동구,식품 제조,성수,20160729,NaN
103,838461E308,서울 성동구 성수동2가,찐짜**,NaN,서울 성동구,백반/가정식,성수,20150824,NaN
104,E8E75C90BA,서울 성동구 성수동2가,20****,NaN,서울 성동구,한식-해물/생선,성수,20090804,NaN
105,37FE3D6CC0,서울 성동구 성수동2가,빙아********,NaN,서울 성동구,아이스크림/빙수,성수,20230421,NaN
...,...,...,...,...,...,...,...,...,...
4081,225DC4C12C,서울특별시 성동구 성수일로12길 19-1,카페***,NaN,서울 성동구,카페,성수,20200707,NaN
4083,F58CA84077,서울특별시 성동구 성수일로4길 35-11,커피********,NaN,서울 성동구,커피전문점,성수,20230925,NaN
4151,2477DC6A37,서울특별시 성동구 성수이로7가길 21-17,하람**,NaN,서울 성동구,청과물,성수,20170525,NaN
4152,9E4161542A,서울특별시 성동구 성수일로4가길 10-14,스켓******,NaN,서울 성동구,식료품,성수,20241008,NaN
4172,491274748A,서울 성동구 성수일로12길 34,오니******,한식-단품요리일반9,서울 성동구,한식-단품요리일반,성수,20100113,NaN

In [31]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '서면역']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
531,FE3AAF5CCD,서울 성동구 연무장길 77.,세계*********,NaN,서울 성동구,식료품,서면역,20220428,NaN

In [32]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '건대입구']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
541,BBC08E8D52,서울 성동구 왕십리로 78.,베트*********,동남아/인도음식6,서울 성동구,동남아/인도음식,건대입구,20210113,NaN

In [33]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '동대문역사문화공원역']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
555,ACDE665CFC,서울 성동구 장터길 40-4.,지오****,NaN,서울 성동구,치킨,동대문역사문화공원역,20220111,NaN

In [34]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '압구정로데오']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
621,18185E33A8,서울 성동구 독서당로 287.,미스**,NaN,서울 성동구,건강식품,압구정로데오,20220715,NaN

In [35]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '오남']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
665,23D97A4475,서울 성동구 마조로1길 39.,양심**,NaN,서울 성동구,백반/가정식,오남,20230912,NaN

In [36]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '화양시장']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
927,566804A508,서울 성동구 연무장15길 11.,정든**,NaN,서울 성동구,백반/가정식,화양시장,20220214,NaN

In [37]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '방배역']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
1043,70F032FFD5,서울 성동구 뚝섬로3길 11-5.,로드*************,NaN,서울 성동구,커피전문점,방배역,20221027,NaN

In [38]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '미아사거리']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
1044,5B4D253AB9,서울 성동구 뚝섬로9길 13-1.,모먼********,NaN,서울 성동구,양식,미아사거리,20240205,NaN

In [39]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '풍산지구']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
1079,42334BE576,서울 성동구 서울숲4길 20-1.,베로******,NaN,서울 성동구,양식,풍산지구,20230117,NaN

In [40]:
df_1[df_1['HPSN_MCT_BZN_CD_NM'] == '자양']

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
1439,92FF17F070,서울 성동구 성수이로24길 38.,육*,NaN,서울 성동구,한식-단품요리일반,자양,20240105,NaN

In [41]:
df_1[(df_1['HPSN_MCT_BZN_CD_NM'] == '뚝섬') & (df_1['HPSN_MCT_ZCD_NM'] == '카페')]

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
188,BD237E8126,서울 성동구 상원2길 5.,페로************,NaN,서울 성동구,카페,뚝섬,20200407,NaN
192,6B31815A9D,서울 성동구 상원길 19.,개인****************,NaN,서울 성동구,카페,뚝섬,20150630,NaN
310,3593B2D487,서울 성동구 상원1길 13.,스테************,NaN,서울 성동구,카페,뚝섬,20230126,NaN
473,61A3133822,서울 성동구 상원12길 19.,낫띵***,NaN,서울 성동구,카페,뚝섬,20200615,NaN
476,E4A9ECB7B9,서울 성동구 상원6나길 6.,커피******,카페11,서울 성동구,카페,뚝섬,20140310,NaN
...,...,...,...,...,...,...,...,...,...
4086,BC04FDC81C,서울특별시 성동구 왕십리로10길 18-1,미디***,NaN,서울 성동구,카페,뚝섬,20200911,NaN
4094,E655648F43,서울특별시 성동구 왕십리로14길 30-1,구*,NaN,서울 성동구,카페,뚝섬,20200709,NaN
4098,4F374EBA09,서울특별시 성동구 왕십리로16길 13-1,아뜰***,NaN,서울 성동구,카페,뚝섬,20220707,NaN
4116,A7BC78E695,서울특별시 성동구 왕십리로4가길 2-9,바버******,NaN,서울 성동구,카페,뚝섬,20230711,NaN
4148,7B038FEF47,서울특별시 성동구 왕십리로14길 30-11,포어**,NaN,서울 성동구,카페,뚝섬,20220705,NaN

### 폐업

- 총 폐업 점포 수 127
- 조사 기간 이후 폐업 점포 수 97

In [42]:
df_1['MCT_ME_D'].nunique()

72

In [43]:
df_1['MCT_ME_D'].unique()

array([      nan, 20250818., 20250731., 20250717., 20250811., 20250707.,
       20250117., 20250710., 20250801., 20230504., 20230822., 20230105.,
       20250814., 20250730., 20250805., 20250813., 20230911., 20250715.,
       20250728., 20250721., 20250214., 20250724., 20250725., 20250718.,
       20250714., 20250709., 20250729., 20250702., 20250716., 20230530.,
       20250107., 20250806., 20250821., 20250819., 20250708., 20250704.,
       20230515., 20241028., 20250703., 20241010., 20241114., 20250820.,
       20240102., 20230821., 20250723., 20231031., 20240710., 20250808.,
       20250610., 20240903., 20240514., 20240521., 20250220., 20230418.,
       20250822., 20250804., 20250407., 20240305., 20250408., 20231113.,
       20240426., 20240402., 20230417., 20240729., 20250514., 20240808.,
       20240627., 20231127., 20250722., 20231018., 20240528., 20230321.,
       20230913.])

In [ ]:
df_1[(~df_1['MCT_ME_D'].isna())]

# 폐업 점포 수 127

,ENCODED_MCT,MCT_BSE_AR,MCT_NM,MCT_BRD_NUM,MCT_SIGUNGU_NM,HPSN_MCT_ZCD_NM,HPSN_MCT_BZN_CD_NM,ARE_D,MCT_ME_D
107,4349A8302A,서울 성동구 장터길 23,롯데******,햄버거1,서울 성동구,햄버거,금남시장,20150812,20250818.0
159,FCAF2BC53E,서울 성동구 마조로 21.,빽다******,커피전문점4,서울 성동구,커피전문점,한양대,20150731,20250818.0
232,2889D57BC9,서울 성동구 성수동2가,영남***,NaN,서울 성동구,식품 제조,성수,20111214,20250731.0
246,19DC3A560D,서울 성동구 동호로 102.,더건***************,NaN,서울 성동구,식품 제조,NaN,20150312,20250717.0
273,57B4E2F996,서울 성동구 마장로 228.,장충********,NaN,서울 성동구,한식-육류/고기,왕십리,20151123,20250811.0
...,...,...,...,...,...,...,...,...,...
4066,BECBEDC4A9,서울특별시 성동구 독서당로51길 29-1,오부**,NaN,서울 성동구,양식,NaN,20200924,20240528.0
4090,150889572A,서울특별시 성동구 왕십리로10길 9-31,스트*****,NaN,서울 성동구,베이커리,뚝섬,20211217,20250814.0
4108,FE30B6645E,서울특별시 성동구 왕십리로24길 27-1,후라**************,치킨40,서울 성동구,치킨,왕십리,20190124,20230321.0
4138,7FC483F27A,서울특별시 성동구 청계천로10나길 79,중국***,NaN,서울 성동구,식료품,마장동,20240725,20250725.0
4162,365914E11C,서울특별시 성동구 청계천로10가길 64-12,청계**,NaN,서울 성동구,카페,NaN,20210408,20230913.0

In [90]:
# 폐업 점포 ID

closed_mct = df_1.loc[~df_1["MCT_ME_D"].isna(), "ENCODED_MCT"]

In [157]:
closed_mct_info = df_1.loc[
    ~df_1['MCT_ME_D'].isna(),
    ['ENCODED_MCT', 'HPSN_MCT_ZCD_NM', 'MCT_BRD_NUM']
]

In [158]:
closed_mct_info

     ENCODED_MCT HPSN_MCT_ZCD_NM MCT_BRD_NUM
107   4349A8302A             햄버거        햄버거1
159   FCAF2BC53E           커피전문점      커피전문점4
232   2889D57BC9           식품 제조         NaN
246   19DC3A560D           식품 제조         NaN
273   57B4E2F996        한식-육류/고기         NaN
...          ...             ...         ...
4066  BECBEDC4A9              양식         NaN
4090  150889572A            베이커리         NaN
4108  FE30B6645E              치킨        치킨40
4138  7FC483F27A             식료품         NaN
4162  365914E11C              카페         NaN

[127 rows x 3 columns]

In [167]:
# 업종별 폐업 점포 수

closed_mct_zcd = (
    closed_mct_info['HPSN_MCT_ZCD_NM']
    .value_counts(dropna=False)
    .reset_index()
    .rename(columns={'index': '업종', 'HPSN_MCT_ZCD_NM': '폐업 점포 수'})
)

In [168]:
closed_mct_zcd

        폐업 점포 수  count
0     한식-단품요리일반     18
1            카페     12
2      한식-육류/고기     11
3           축산물      7
4            양식      7
5            치킨      7
6            분식      6
7          베이커리      6
8           일식당      5
9         커피전문점      5
10     한식-해물/생선      5
11          식료품      4
12     샌드위치/토스트      3
13          와인바      3
14          중식당      3
15       백반/가정식      3
16        식품 제조      2
17           피자      2
18         요리주점      2
19          햄버거      1
20    구내식당/푸드코트      1
21         포장마차      1
22          와인샵      1
23          수산물      1
24    한식-국밥/설렁탕      1
25      떡/한과 제조      1
26          도시락      1
27      일식-샤브샤브      1
28     동남아/인도음식      1
29        호프/맥주      1
30      일반 유흥주점      1
31     아이스크림/빙수      1
32  일식-우동/소바/라면      1
33    중식-훠궈/마라탕      1
34       기타세계요리      1

In [169]:
# 브랜드별 폐업 점포 수

closed_mct_brd = (
    closed_mct_info['MCT_BRD_NUM']
    .value_counts(dropna=False)
    .reset_index()
    .rename(columns={'index': '업종', 'MCT_BRD_NUM': '폐업 점포 수'})
)

In [170]:
closed_mct_brd

       폐업 점포 수  count
0          NaN    111
1         치킨13      2
2         치킨30      2
3       커피전문점4      1
4          분식9      1
5         치킨11      1
6         햄버거1      1
7     백반/가정식12      1
8   한식-단품요리일반3      1
9          카페5      1
10   샌드위치/토스트2      1
11        도시락3      1
12   동남아/인도음식7      1
13   한식-해물/생선2      1
14        치킨40      1

In [ ]:
(df_1['MCT_ME_D'] > 20241231).sum()

# 조사 기간 이후 폐업 점포 수 97

np.int64(97)

In [138]:
(df_1['MCT_ME_D'] < 20230101).sum()

np.int64(0)

In [ ]:
# 조사 기간 내 폐업 점포 ID

closed_mct_in_period = df_1.loc[
    (df_1['MCT_ME_D'] >= 20230101) & (df_1['MCT_ME_D'] <= 20241231),
    'ENCODED_MCT'
]

## df_2

### 개요

In [44]:
df_2.head()

,ENCODED_MCT,TA_YM,MCT_OPE_MS_CN,RC_M1_SAA,RC_M1_TO_UE_CT,RC_M1_UE_CUS_CN,RC_M1_AV_NP_AT,APV_CE_RAT,DLV_SAA_RAT,M1_SME_RY_SAA_RAT,M1_SME_RY_CNT_RAT,M12_SME_RY_SAA_PCE_RT,M12_SME_BZN_SAA_PCE_RT,M12_SME_RY_ME_MCT_RAT,M12_SME_BZN_ME_MCT_RAT
0,000F03E44A,202404,4_50-75%,5_75-90%,5_75-90%,5_75-90%,5_75-90%,1_상위1구간,-999999.9,2.6,10.6,93.8,71.5,16.7,7.8
1,000F03E44A,202312,4_50-75%,6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),NaN,-999999.9,0.0,0.0,94.8,73.4,16.6,7.2
2,002816BA73,202404,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,96.6,40.8,15.6,20.0,17.5,5.2
3,002816BA73,202411,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,108.0,46.4,16.8,19.8,16.9,6.9
4,002816BA73,202406,2_10-25%,4_50-75%,4_50-75%,4_50-75%,2_10-25%,1_상위1구간,-999999.9,74.2,38.1,16.0,19.9,17.3,5.6

- 운영개월(오래 경영한 기업 구분) 구간
- 매출금액 구간
- 매출건수 구간
- 유니크 고객 수 구간
- 객단가 구간
- 취소율 구간
- 배달매출금액 비중

- 동일 업종 매출금액 비율
- 동일 업종 매출건수 비율
- 동일 업종 내 매출 순위 비율
- 동일 상권 내 매출 순위 비율
- 동일 업종 내 해지 가맹점 비중
- 동일 상권 내 해지 가맹점 비중

In [45]:
df_2.isnull().sum()

ENCODED_MCT                  0
TA_YM                        0
MCT_OPE_MS_CN                0
RC_M1_SAA                    0
RC_M1_TO_UE_CT               0
RC_M1_UE_CUS_CN              0
RC_M1_AV_NP_AT               0
APV_CE_RAT                6632
DLV_SAA_RAT                  0
M1_SME_RY_SAA_RAT            0
M1_SME_RY_CNT_RAT            0
M12_SME_RY_SAA_PCE_RT        0
M12_SME_BZN_SAA_PCE_RT       0
M12_SME_RY_ME_MCT_RAT        0
M12_SME_BZN_ME_MCT_RAT       0
dtype: int64

In [46]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86590 entries, 0 to 86589
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ENCODED_MCT             86590 non-null  object
 1   TA_YM                   86590 non-null  int64
 2   MCT_OPE_MS_CN           86590 non-null  object
 3   RC_M1_SAA               86590 non-null  object
 4   RC_M1_TO_UE_CT          86590 non-null  object
 5   RC_M1_UE_CUS_CN         86590 non-null  object
 6   RC_M1_AV_NP_AT          86590 non-null  object
 7   APV_CE_RAT              79958 non-null  object
 8   DLV_SAA_RAT             86590 non-null  float64
 9   M1_SME_RY_SAA_RAT       86590 non-null  float64
 10  M1_SME_RY_CNT_RAT       86590 non-null  float64
 11  M12_SME_RY_SAA_PCE_RT   86590 non-null  float64
 12  M12_SME_BZN_SAA_PCE_RT  86590 non-null  float64
 13  M12_SME_RY_ME_MCT_RAT   86590 non-null  float64
 14  M12_SME_BZN_ME_MCT_RAT  86590 non-null  float64
dtypes: float64(7), int64(1), object(7)
memory usage: 9.9+ MB

### RANK 전처리

In [110]:
df_2.columns

Index(['ENCODED_MCT', 'TA_YM', 'MCT_OPE_MS_CN', 'RC_M1_SAA', 'RC_M1_TO_UE_CT',
       'RC_M1_UE_CUS_CN', 'RC_M1_AV_NP_AT', 'APV_CE_RAT', 'DLV_SAA_RAT',
       'M1_SME_RY_SAA_RAT', 'M1_SME_RY_CNT_RAT', 'M12_SME_RY_SAA_PCE_RT',
       'M12_SME_BZN_SAA_PCE_RT', 'M12_SME_RY_ME_MCT_RAT',
       'M12_SME_BZN_ME_MCT_RAT'],
      dtype='object')

In [112]:
import re

# 앞자리 추출
def find_rank(x):
    if pd.isna(x):
        return None
    match = re.search(r'\d+', str(x))
    
    return int(match.group()) if match else None

df_2_rank_cols = [
    'MCT_OPE_MS_CN', 
    'RC_M1_SAA', 
    'RC_M1_TO_UE_CT',
    'RC_M1_UE_CUS_CN', 
    'RC_M1_AV_NP_AT', 
    'APV_CE_RAT'
]

for col in df_2_rank_cols:
    df_2[col] = df_2[col].apply(find_rank)

df_2.head()

,ENCODED_MCT,TA_YM,MCT_OPE_MS_CN,RC_M1_SAA,RC_M1_TO_UE_CT,RC_M1_UE_CUS_CN,RC_M1_AV_NP_AT,APV_CE_RAT,DLV_SAA_RAT,M1_SME_RY_SAA_RAT,M1_SME_RY_CNT_RAT,M12_SME_RY_SAA_PCE_RT,M12_SME_BZN_SAA_PCE_RT,M12_SME_RY_ME_MCT_RAT,M12_SME_BZN_ME_MCT_RAT
0,000F03E44A,202404,4,5,5,5,5,1.0,-999999.9,2.6,10.6,93.8,71.5,16.7,7.8
1,000F03E44A,202312,4,6,6,6,6,NaN,-999999.9,0.0,0.0,94.8,73.4,16.6,7.2
2,002816BA73,202404,2,3,4,4,2,6.0,-999999.9,96.6,40.8,15.6,20.0,17.5,5.2
3,002816BA73,202411,2,3,4,4,2,6.0,-999999.9,108.0,46.4,16.8,19.8,16.9,6.9
4,002816BA73,202406,2,4,4,4,2,1.0,-999999.9,74.2,38.1,16.0,19.9,17.3,5.6

### 한글 버전

In [97]:
columns_kor = {
    "ENCODED_MCT": "가맹점구분번호",
    "TA_YM": "기준년월",
    "MCT_OPE_MS_CN": "가맹점 운영개월수 구간",
    "RC_M1_SAA": "매출금액 구간",
    "RC_M1_TO_UE_CT": "매출건수 구간",
    "RC_M1_UE_CUS_CN": "유니크 고객 수 구간",
    "RC_M1_AV_NP_AT": "객단가 구간",
    "APV_CE_RAT": "취소율 구간",
    "DLV_SAA_RAT": "배달매출금액 비율",
    "M1_SME_RY_SAA_RAT": "동일 업종 매출금액 비율",
    "M1_SME_RY_CNT_RAT": "동일 업종 매출건수 비율",
    "M12_SME_RY_SAA_PCE_RT": "동일 업종 내 매출 순위 비율",
    "M12_SME_BZN_SAA_PCE_RT": "동일 상권 내 매출 순위 비율",
    "M12_SME_RY_ME_MCT_RAT": "동일 업종 내 해지 가맹점 비중",
    "M12_SME_BZN_ME_MCT_RAT": "동일 상권 내 해지 가맹점 비중"
}

df_2_kor = df_2.rename(columns=columns_kor)

df_2_kor.head()

,가맹점구분번호,기준년월,가맹점 운영개월수 구간,매출금액 구간,매출건수 구간,유니크 고객 수 구간,객단가 구간,취소율 구간,배달매출금액 비율,동일 업종 매출금액 비율,동일 업종 매출건수 비율,동일 업종 내 매출 순위 비율,동일 상권 내 매출 순위 비율,동일 업종 내 해지 가맹점 비중,동일 상권 내 해지 가맹점 비중
0,000F03E44A,202404,4_50-75%,5_75-90%,5_75-90%,5_75-90%,5_75-90%,1_상위1구간,-999999.9,2.6,10.6,93.8,71.5,16.7,7.8
1,000F03E44A,202312,4_50-75%,6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),6_90%초과(하위 10% 이하),NaN,-999999.9,0.0,0.0,94.8,73.4,16.6,7.2
2,002816BA73,202404,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,96.6,40.8,15.6,20.0,17.5,5.2
3,002816BA73,202411,2_10-25%,3_25-50%,4_50-75%,4_50-75%,2_10-25%,6_상위6구간(하위1구간),-999999.9,108.0,46.4,16.8,19.8,16.9,6.9
4,002816BA73,202406,2_10-25%,4_50-75%,4_50-75%,4_50-75%,2_10-25%,1_상위1구간,-999999.9,74.2,38.1,16.0,19.9,17.3,5.6

### 폐업 점포

In [123]:
df_2_closed = df_2[df_2["ENCODED_MCT"].isin(closed_mct)]

In [124]:
df_2_closed_kor = df_2_closed.rename(columns=columns_kor)

In [125]:
df_2_closed_kor.head()

# 숫자가 높아야 좋음

,가맹점구분번호,기준년월,가맹점 운영개월수 구간,매출금액 구간,매출건수 구간,유니크 고객 수 구간,객단가 구간,취소율 구간,배달매출금액 비율,동일 업종 매출금액 비율,동일 업종 매출건수 비율,동일 업종 내 매출 순위 비율,동일 상권 내 매출 순위 비율,동일 업종 내 해지 가맹점 비중,동일 상권 내 해지 가맹점 비중
201,04393D7C92,202305,4,4,4,4,3,6.0,20.9,50.1,23.3,37.7,0.0,9.5,-999999.9
202,04393D7C92,202310,3,4,4,4,3,6.0,31.7,61.3,22.4,41.6,0.0,11.5,-999999.9
203,04393D7C92,202406,3,5,4,4,3,1.0,33.0,22.3,25.4,48.2,0.0,17.3,-999999.9
204,04393D7C92,202411,3,4,4,4,3,1.0,18.6,29.6,29.1,50.8,0.0,16.9,-999999.9
213,0507C6C859,202409,5,5,4,4,4,1.0,64.1,16.5,32.9,50.9,54.0,17.1,9.7

In [ ]:
# 가맹점구분번호 및 기준년월 오른차순 정리

df_2_closed_kor['기준년월'] = pd.to_numeric(df_2_closed_kor['기준년월'], errors='coerce')

df_2_closed_kor = df_2_closed_kor.sort_values(['가맹점구분번호', '기준년월'], ascending=[True, True]).reset_index(drop=True)

In [137]:
df_2_closed_kor.head()

,가맹점구분번호,기준년월,가맹점 운영개월수 구간,매출금액 구간,매출건수 구간,유니크 고객 수 구간,객단가 구간,취소율 구간,배달매출금액 비율,동일 업종 매출금액 비율,동일 업종 매출건수 비율,동일 업종 내 매출 순위 비율,동일 상권 내 매출 순위 비율,동일 업종 내 해지 가맹점 비중,동일 상권 내 해지 가맹점 비중
0,04393D7C92,202301,4,4,4,4,3,1.0,17.7,59.0,20.9,33.8,0.0,8.2,-999999.9
1,04393D7C92,202302,4,4,4,4,4,1.0,30.5,43.7,23.3,34.1,0.0,9.3,-999999.9
2,04393D7C92,202303,4,4,4,4,3,1.0,32.9,52.2,22.3,34.8,0.0,8.8,-999999.9
3,04393D7C92,202304,4,5,4,4,3,1.0,44.4,32.5,15.1,36.9,0.0,9.0,-999999.9
4,04393D7C92,202305,4,4,4,4,3,6.0,20.9,50.1,23.3,37.7,0.0,9.5,-999999.9

### 기간 내 폐업 점포

In [148]:
df_2_closed_in_period = df_2[df_2["ENCODED_MCT"].isin(closed_mct_in_period)]

In [149]:
df_2_closed_in_period_kor = df_2_closed_in_period.rename(columns=columns_kor)

In [150]:
# 가맹점구분번호 및 기준년월 오른차순 정리

df_2_closed_in_period_kor['기준년월'] = pd.to_numeric(df_2_closed_in_period_kor['기준년월'], errors='coerce')

df_2_closed_in_period_kor = df_2_closed_in_period_kor.sort_values(['가맹점구분번호', '기준년월'], ascending=[True, True]).reset_index(drop=True)

In [155]:
df_2_closed_in_period_kor.head(50)

,가맹점구분번호,기준년월,가맹점 운영개월수 구간,매출금액 구간,매출건수 구간,유니크 고객 수 구간,객단가 구간,취소율 구간,배달매출금액 비율,동일 업종 매출금액 비율,동일 업종 매출건수 비율,동일 업종 내 매출 순위 비율,동일 상권 내 매출 순위 비율,동일 업종 내 해지 가맹점 비중,동일 상권 내 해지 가맹점 비중
0,099CBF2425,202301,4,5,5,5,4,1.0,96.6,11.9,15.1,52.2,54.2,14.8,8.9
1,099CBF2425,202302,4,5,5,5,4,1.0,97.3,7.9,12.6,56.0,57.7,15.5,9.1
2,099CBF2425,202303,4,5,5,5,3,1.0,92.3,19.6,11.0,57.5,59.1,15.9,9.4
3,099CBF2425,202304,6,5,5,5,4,1.0,97.4,5.1,6.1,61.3,61.3,16.4,10.2
4,104031A6C2,202301,4,3,5,5,1,1.0,-999999.9,67.6,9.6,40.7,47.5,10.0,7.8
5,104031A6C2,202302,4,6,6,6,6,NaN,-999999.9,0.0,0.0,41.3,48.4,10.5,6.5
6,104031A6C2,202303,4,3,5,5,1,1.0,-999999.9,96.6,2.0,35.1,43.0,10.9,5.9
7,104031A6C2,202304,4,5,5,5,2,1.0,-999999.9,12.1,2.9,34.7,42.2,11.3,6.0
8,104031A6C2,202305,4,6,6,6,6,NaN,-999999.9,0.0,0.0,34.9,42.5,11.6,6.4
9,104031A6C2,202306,4,5,5,5,1,1.0,-999999.9,16.2,2.7,34.7,42.1,11.7,6.0
10,104031A6C2,202307,4,5,5,5,2,1.0,-999999.9,3.2,0.9,34.7,41.4,11.8,6.0
11,104031A6C2,202308,4,3,5,5,1,1.0,-999999.9,126.7,0.9,28.9,37.3,12.0,5.4
12,104031A6C2,202309,4,3,5,5,1,1.0,-999999.9,65.8,8.0,28.2,36.2,12.0,5.0
13,104031A6C2,202310,4,6,6,6,6,NaN,-999999.9,0.0,0.0,28.8,36.5,12.2,4.7
14,104031A6C2,202311,4,6,6,6,6,NaN,-999999.9,0.0,0.0,54.1,36.4,12.2,4.2
15,104031A6C2,202312,4,6,6,6,6,NaN,-999999.9,0.0,0.0,54.2,36.6,12.2,4.2
16,104031A6C2,202401,4,6,6,6,6,NaN,-999999.9,0.0,0.0,56.9,38.8,12.4,5.2
17,104031A6C2,202402,4,4,5,5,1,1.0,-999999.9,34.0,4.0,54.8,37.2,12.3,5.0
18,104031A6C2,202403,4,6,6,6,6,NaN,-999999.9,0.0,0.0,59.2,40.3,12.1,5.2
19,104031A6C2,202404,4,6,6,6,6,NaN,-999999.9,0.0,0.0,59.4,40.2,12.3,5.2
20,104031A6C2,202405,6,6,6,6,6,NaN,-999999.9,0.0,0.0,59.3,39.9,12.3,5.6
21,1521FF7269,202301,5,4,4,4,3,1.0,84.6,52.6,53.7,32.5,0.0,19.8,-999999.9
22,1521FF7269,202302,5,4,4,4,3,1.0,83.4,47.5,42.0,33.3,0.0,20.2,-999999.9
23,1521FF7269,202303,5,4,4,4,3,1.0,82.9,45.8,43.8,32.6,0.0,21.1,-999999.9
24,1521FF7269,202304,5,4,4,4,3,1.0,75.9,57.9,53.0,32.0,0.0,21.9,-999999.9
25,1521FF7269,202305,5,3,4,3,3,5.0,71.6,78.7,86.7,31.1,0.0,22.7,-999999.9
26,1521FF7269,202306,5,4,4,4,3,1.0,75.2,60.6,60.0,30.4,0.0,22.3,-999999.9
27,1521FF7269,202307,5,3,4,4,3,1.0,73.8,74.6,83.3,29.0,0.0,21.7,-999999.9
28,1521FF7269,202308,5,3,4,3,3,6.0,70.5,88.5,93.2,27.5,0.0,21.2,-999999.9
29,1521FF7269,202309,5,3,4,3,3,1.0,68.4,94.0,98.6,26.9,0.0,20.8,-999999.9
30,1521FF7269,202310,4,3,4,4,3,6.0,75.6,75.0,72.3,26.1,0.0,20.4,-999999.9
31,1521FF7269,202311,4,4,4,4,3,6.0,78.1,67.8,40.2,27.0,0.0,17.5,-999999.9
32,1521FF7269,202312,4,4,4,4,3,1.0,82.5,55.0,40.2,27.1,0.0,17.3,-999999.9
33,1521FF7269,202401,4,4,4,4,3,1.0,77.0,76.1,48.1,26.6,0.0,17.5,-999999.9
34,1521FF7269,202402,4,4,4,4,3,1.0,81.1,52.4,30.9,26.7,0.0,17.5,-999999.9
35,1521FF7269,202403,4,4,4,4,3,1.0,79.5,55.5,33.4,26.5,0.0,17.3,-999999.9
36,1521FF7269,202404,4,4,4,4,3,6.0,85.0,38.6,28.0,27.0,0.0,17.5,-999999.9
37,1521FF7269,202405,4,4,4,4,3,1.0,76.6,44.5,29.5,28.1,0.0,17.5,-999999.9
38,1521FF7269,202406,4,4,4,4,3,1.0,78.3,37.3,21.6,28.9,0.0,17.3,-999999.9
39,1521FF7269,202407,4,4,4,4,3,6.0,80.9,38.7,29.3,30.1,0.0,17.3,-999999.9
40,1521FF7269,202408,4,4,4,4,3,1.0,79.0,46.3,36.6,31.7,0.0,17.1,-999999.9
41,1521FF7269,202409,6,5,5,5,2,1.0,0.0,3.1,1.3,35.0,0.0,17.1,-999999.9
42,1E00B3CC15,202301,3,6,6,6,6,NaN,100.0,0.0,0.0,80.7,71.7,14.8,9.2
43,1E00B3CC15,202302,3,6,5,5,5,1.0,96.0,0.5,1.4,81.6,71.7,15.5,9.2
44,1E00B3CC15,202303,3,6,6,6,6,NaN,100.0,0.0,0.0,82.0,71.9,15.9,8.9
45,1E00B3CC15,202304,3,6,5,5,5,6.0,90.7,1.2,3.7,81.5,71.4,16.4,9.5
46,1E00B3CC15,202305,6,6,5,5,6,6.0,0.0,0.1,1.2,82.6,72.2,17.1,9.2
47,2D56DC79C1,202301,4,5,5,4,3,1.0,94.9,32.0,34.8,51.3,0.0,14.3,-999999.9
48,2D56DC79C1,202302,4,5,5,4,3,1.0,94.2,32.3,31.1,52.5,0.0,15.0,-999999.9
49,2D56DC79C1,202303,4,5,5,5,3,1.0,95.0,26.4,27.3,53.8,0.0,15.2,-999999.9

In [156]:
df_2_closed_in_period_kor.iloc[50:101]

,가맹점구분번호,기준년월,가맹점 운영개월수 구간,매출금액 구간,매출건수 구간,유니크 고객 수 구간,객단가 구간,취소율 구간,배달매출금액 비율,동일 업종 매출금액 비율,동일 업종 매출건수 비율,동일 업종 내 매출 순위 비율,동일 상권 내 매출 순위 비율,동일 업종 내 해지 가맹점 비중,동일 상권 내 해지 가맹점 비중
50,2D56DC79C1,202304,4,5,4,4,3,1.0,91.5,36.2,38.6,53.4,0.0,15.7,-999999.9
51,2D56DC79C1,202305,6,5,4,4,4,1.0,95.1,31.0,42.1,53.6,0.0,16.4,-999999.9
52,32425BE27F,202301,5,3,3,3,3,1.0,45.4,98.9,189.9,11.5,0.0,17.5,-999999.9
53,32425BE27F,202302,5,3,3,3,3,1.0,44.1,99.9,175.8,11.8,0.0,18.3,-999999.9
54,32425BE27F,202303,5,2,3,2,3,3.0,37.4,128.8,201.6,11.7,0.0,18.7,-999999.9
55,32425BE27F,202304,4,2,2,2,3,5.0,29.1,174.7,294.3,11.8,0.0,19.3,-999999.9
56,32425BE27F,202305,6,2,2,2,3,1.0,33.2,141.7,234.9,12.0,0.0,20.0,-999999.9
57,32F21633BE,202301,4,3,3,3,4,1.0,61.4,84.5,257.2,12.4,0.0,19.8,-999999.9
58,32F21633BE,202302,4,3,2,2,4,3.0,60.6,106.4,314.9,13.0,0.0,20.2,-999999.9
59,32F21633BE,202303,4,3,3,3,4,5.0,52.4,106.8,264.3,13.6,0.0,21.1,-999999.9
60,32F21633BE,202304,4,3,2,2,4,2.0,49.8,139.1,381.2,13.5,0.0,21.9,-999999.9
61,32F21633BE,202305,4,3,2,2,4,3.0,56.4,91.1,286.7,14.4,0.0,22.7,-999999.9
62,32F21633BE,202306,4,3,2,2,4,3.0,55.2,127.4,307.0,14.7,0.0,22.3,-999999.9
63,32F21633BE,202307,4,3,2,2,4,3.0,47.8,114.2,326.5,15.0,0.0,21.7,-999999.9
64,32F21633BE,202308,4,3,2,2,4,1.0,54.2,118.4,357.7,15.2,0.0,21.2,-999999.9
65,32F21633BE,202309,4,3,2,2,4,3.0,60.1,114.6,334.5,15.2,0.0,20.8,-999999.9
66,32F21633BE,202310,6,3,2,2,4,3.0,47.3,148.1,321.0,15.1,0.0,20.4,-999999.9
67,365914E11C,202301,4,4,3,3,5,5.0,0.0,53.8,78.9,33.1,0.0,10.3,-999999.9
68,365914E11C,202302,4,4,3,3,5,1.0,0.0,53.3,75.2,32.9,0.0,11.2,-999999.9
69,365914E11C,202303,4,4,2,3,5,3.0,0.0,52.5,73.1,33.3,0.0,11.1,-999999.9
70,365914E11C,202304,4,4,2,3,5,1.0,0.0,49.5,70.1,33.6,0.0,11.4,-999999.9
71,365914E11C,202305,4,4,3,3,5,5.0,0.0,42.7,58.7,34.4,0.0,12.0,-999999.9
72,365914E11C,202306,4,4,3,3,5,1.0,0.0,46.1,50.1,35.2,0.0,11.9,-999999.9
73,365914E11C,202307,4,4,3,3,5,1.0,0.0,45.2,54.5,36.3,0.0,12.5,-999999.9
74,365914E11C,202308,4,4,3,3,5,6.0,-999999.9,50.4,56.7,36.5,0.0,13.0,-999999.9
75,365914E11C,202309,6,5,3,4,5,1.0,-999999.9,27.5,29.5,38.0,0.0,13.5,-999999.9
76,3D4F4809F0,202301,5,1,2,2,2,1.0,-999999.9,339.9,329.5,10.3,9.5,15.6,7.9
77,3D4F4809F0,202302,5,1,2,1,2,4.0,-999999.9,422.8,397.7,7.9,8.1,16.1,8.0
78,3D4F4809F0,202303,5,1,2,1,2,1.0,-999999.9,392.3,341.0,6.4,6.5,16.8,7.9
79,3D4F4809F0,202304,5,1,2,1,3,1.0,-999999.9,399.7,379.1,5.0,5.0,17.2,8.2
80,3D4F4809F0,202305,5,1,2,2,3,4.0,-999999.9,314.1,295.8,4.1,4.5,17.9,8.0
81,3D4F4809F0,202306,5,1,3,2,2,1.0,-999999.9,239.9,207.3,3.6,4.1,17.6,8.2
82,3D4F4809F0,202307,5,1,2,2,3,3.0,-999999.9,243.9,234.5,3.5,3.9,17.9,8.3
83,3D4F4809F0,202308,5,1,2,2,3,4.0,-999999.9,277.8,253.6,3.4,4.1,18.0,7.9
84,3D4F4809F0,202309,5,1,3,2,2,6.0,-999999.9,220.5,190.2,3.7,4.4,18.3,7.6
85,3D4F4809F0,202310,5,1,2,2,3,1.0,-999999.9,257.1,230.3,4.0,4.8,18.8,7.2
86,3D4F4809F0,202311,6,2,3,3,2,5.0,-999999.9,131.1,113.2,4.2,5.4,18.0,6.9
87,5AFF1D97F2,202310,6,6,6,6,6,1.0,-999999.9,0.0,0.0,90.4,0.0,20.4,-999999.9
88,5AFF1D97F2,202311,6,3,2,2,4,3.0,58.8,129.0,247.7,66.5,0.0,17.5,-999999.9
89,5AFF1D97F2,202312,6,3,2,2,4,1.0,55.5,109.4,231.9,55.0,0.0,17.3,-999999.9
90,5AFF1D97F2,202401,6,3,2,3,4,3.0,53.8,113.6,220.1,47.2,0.0,17.5,-999999.9
91,5AFF1D97F2,202402,6,3,2,3,4,1.0,49.1,119.1,251.8,41.4,0.0,17.5,-999999.9
92,5AFF1D97F2,202403,6,3,2,2,4,1.0,51.8,107.1,216.9,36.4,0.0,17.3,-999999.9
93,5AFF1D97F2,202404,6,3,2,2,4,1.0,54.6,104.9,219.1,32.4,0.0,17.5,-999999.9
94,5AFF1D97F2,202405,5,3,2,3,4,3.0,62.5,104.0,209.1,29.0,0.0,17.5,-999999.9
95,5AFF1D97F2,202406,5,3,3,3,4,1.0,69.0,82.7,166.5,26.8,0.0,17.3,-999999.9
96,5AFF1D97F2,202407,6,4,4,4,4,1.0,0.0,38.8,61.2,25.7,0.0,17.3,-999999.9
97,64477AD191,202301,3,4,2,3,5,1.0,0.7,56.0,272.6,34.1,41.0,14.8,8.9
98,64477AD191,202302,3,4,2,3,5,1.0,0.0,45.6,240.2,34.4,41.3,15.5,9.1
99,64477AD191,202303,3,4,2,3,5,1.0,0.5,53.6,270.7,34.1,40.7,15.9,9.4
100,64477AD191,202304,3,4,2,3,5,1.0,0.0,43.1,243.6,34.2,40.1,16.4,10.2

## df_3

### 개요

In [47]:
df_3.head()

,ENCODED_MCT,TA_YM,M12_MAL_1020_RAT,M12_MAL_30_RAT,M12_MAL_40_RAT,M12_MAL_50_RAT,M12_MAL_60_RAT,M12_FME_1020_RAT,M12_FME_30_RAT,M12_FME_40_RAT,M12_FME_50_RAT,M12_FME_60_RAT,MCT_UE_CLN_REU_RAT,MCT_UE_CLN_NEW_RAT,RC_M1_SHC_RSD_UE_CLN_RAT,RC_M1_SHC_WP_UE_CLN_RAT,RC_M1_SHC_FLP_UE_CLN_RAT
0,0305234DDB,202311,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.00,0.0,-999999.9,-999999.9,-999999.9
1,0495B069FF,202403,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.00,25.0,0.0,0.0,100.0
2,0495B069FF,202405,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9
3,0495B069FF,202406,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9
4,055EDDDD01,202410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9

- 남성, 여성 연령별 고객 비중
- 재방문 고객 비중
- 신규 고객 비중
- 거주 이용 고객 비율
- 직장 이용 고객 비율
- 유동인구 이용 고객 비율

In [48]:
df_3.isnull().sum()

ENCODED_MCT                 0
TA_YM                       0
M12_MAL_1020_RAT            0
M12_MAL_30_RAT              0
M12_MAL_40_RAT              0
M12_MAL_50_RAT              0
M12_MAL_60_RAT              0
M12_FME_1020_RAT            0
M12_FME_30_RAT              0
M12_FME_40_RAT              0
M12_FME_50_RAT              0
M12_FME_60_RAT              0
MCT_UE_CLN_REU_RAT          0
MCT_UE_CLN_NEW_RAT          0
RC_M1_SHC_RSD_UE_CLN_RAT    0
RC_M1_SHC_WP_UE_CLN_RAT     0
RC_M1_SHC_FLP_UE_CLN_RAT    0
dtype: int64

In [49]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86590 entries, 0 to 86589
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ENCODED_MCT               86590 non-null  object
 1   TA_YM                     86590 non-null  int64
 2   M12_MAL_1020_RAT          86590 non-null  float64
 3   M12_MAL_30_RAT            86590 non-null  float64
 4   M12_MAL_40_RAT            86590 non-null  float64
 5   M12_MAL_50_RAT            86590 non-null  float64
 6   M12_MAL_60_RAT            86590 non-null  float64
 7   M12_FME_1020_RAT          86590 non-null  float64
 8   M12_FME_30_RAT            86590 non-null  float64
 9   M12_FME_40_RAT            86590 non-null  float64
 10  M12_FME_50_RAT            86590 non-null  float64
 11  M12_FME_60_RAT            86590 non-null  float64
 12  MCT_UE_CLN_REU_RAT        86590 non-null  float64
 13  MCT_UE_CLN_NEW_RAT        86590 non-null  float64
 14  RC_M1_SHC_RSD_UE_CLN_RAT  86590 non-null  float64
 15  RC_M1_SHC_WP_UE_CLN_RAT   86590 non-null  float64
 16  RC_M1_SHC_FLP_UE_CLN_RAT  86590 non-null  float64
dtypes: float64(15), int64(1), object(1)
memory usage: 11.2+ MB

### 한글 버전

In [98]:
columns_kor_3 = {
    "ENCODED_MCT": "가맹점구분번호",
    "TA_YM": "기준년월",
    "M12_MAL_1020_RAT": "남성 20대이하 고객 비중",
    "M12_MAL_30_RAT": "남성 30대 고객 비중",
    "M12_MAL_40_RAT": "남성 40대 고객 비중",
    "M12_MAL_50_RAT": "남성 50대 고객 비중",
    "M12_MAL_60_RAT": "남성 60대이상 고객 비중",
    "M12_FME_1020_RAT": "여성 20대이하 고객 비중",
    "M12_FME_30_RAT": "여성 30대 고객 비중",
    "M12_FME_40_RAT": "여성 40대 고객 비중",
    "M12_FME_50_RAT": "여성 50대 고객 비중",
    "M12_FME_60_RAT": "여성 60대이상 고객 비중",
    "MCT_UE_CLN_REU_RAT": "재방문 고객 비중",
    "MCT_UE_CLN_NEW_RAT": "신규 고객 비중",
    "RC_M1_SHC_RSD_UE_CLN_RAT": "거주 이용 고객 비율",
    "RC_M1_SHC_WP_UE_CLN_RAT": "직장 이용 고객 비율",
    "RC_M1_SHC_FLP_UE_CLN_RAT": "유동인구 이용 고객 비율"
}

df_3_kor = df_3.rename(columns=columns_kor_3)

df_3_kor.head()

,가맹점구분번호,기준년월,남성 20대이하 고객 비중,남성 30대 고객 비중,남성 40대 고객 비중,남성 50대 고객 비중,남성 60대이상 고객 비중,여성 20대이하 고객 비중,여성 30대 고객 비중,여성 40대 고객 비중,여성 50대 고객 비중,여성 60대이상 고객 비중,재방문 고객 비중,신규 고객 비중,거주 이용 고객 비율,직장 이용 고객 비율,유동인구 이용 고객 비율
0,0305234DDB,202311,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.00,0.0,-999999.9,-999999.9,-999999.9
1,0495B069FF,202403,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.00,25.0,0.0,0.0,100.0
2,0495B069FF,202405,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9
3,0495B069FF,202406,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9
4,055EDDDD01,202410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,33.33,0.0,-999999.9,-999999.9,-999999.9

### 폐업 점포

In [101]:
df_3_closed = df_3[df_3["ENCODED_MCT"].isin(closed_mct)]

In [103]:
df_3_closed_kor = df_3_closed.rename(columns=columns_kor_3)

In [104]:
df_3_closed_kor.head(50)

,가맹점구분번호,기준년월,남성 20대이하 고객 비중,남성 30대 고객 비중,남성 40대 고객 비중,남성 50대 고객 비중,남성 60대이상 고객 비중,여성 20대이하 고객 비중,여성 30대 고객 비중,여성 40대 고객 비중,여성 50대 고객 비중,여성 60대이상 고객 비중,재방문 고객 비중,신규 고객 비중,거주 이용 고객 비율,직장 이용 고객 비율,유동인구 이용 고객 비율
144,D4AA4CAA8D,202306,37.2000,0.0000,37.2000,0.0000,0.0000,12.8000,0.0000,12.8000,0.0000,0.0000,0.00,100.00,0.0,0.0,100.0
159,E9CC23245B,202401,47.8000,0.0000,47.8000,0.0000,0.0000,2.2000,0.0000,2.2000,0.0000,0.0000,66.67,0.00,-999999.9,-999999.9,-999999.9
281,2FB0335820,202308,0.0000,33.3000,66.7000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,50.00,0.00,-999999.9,-999999.9,-999999.9
287,4FD8F44568,202411,0.0000,20.0000,20.0000,40.0000,0.0000,0.0000,5.0000,5.0000,10.0000,0.0000,25.00,0.00,100.0,0.0,0.0
351,81E3DAF03B,202411,20.0100,20.0100,20.0100,6.6700,0.0000,9.9900,9.9900,9.9900,3.3300,0.0000,0.00,0.00,-999999.9,-999999.9,-999999.9
483,E2BDC284DA,202408,2.5192,10.0392,5.0008,20.0408,0.0000,4.1808,16.6608,8.2992,33.2592,0.0000,30.00,0.00,0.0,100.0,0.0
512,C8BFE622A5,202407,14.9179,6.8926,0.0000,2.2895,0.0000,46.9821,21.7074,0.0000,7.2105,0.0000,14.29,0.00,-999999.9,-999999.9,-999999.9
527,E2BDC284DA,202412,0.0000,12.2668,3.0667,18.3665,0.0000,0.0000,24.1332,6.0333,36.1335,0.0000,28.57,0.00,-999999.9,-999999.9,-999999.9
530,FBC56DE125,202411,17.2431,19.1835,5.7330,1.8963,0.0000,21.8569,24.3165,7.2670,2.4037,0.0000,8.00,0.00,-999999.9,-999999.9,-999999.9
559,6ED7CA8900,202306,10.6281,10.6281,1.4219,1.4219,0.0000,33.4719,33.4719,4.4781,4.4781,0.0000,0.00,5.41,0.0,0.0,100.0
561,6ED7CA8900,202402,12.9648,14.0452,1.0804,1.0804,0.0000,31.4352,34.0548,2.6196,2.6196,0.0000,0.00,0.00,-999999.9,-999999.9,-999999.9
601,A2C52B6B6A,202301,13.5675,6.3900,0.9000,1.3950,0.2700,46.7325,22.0100,3.1000,4.8050,0.9300,14.40,7.67,6.0,3.0,91.0
607,8CA6B75925,202406,13.7750,6.8000,2.3000,1.6750,0.4500,41.3250,20.4000,6.9000,5.0250,1.3500,3.50,6.83,8.8,12.5,78.8
615,C530609FDA,202304,42.4600,8.0850,1.1550,2.7500,0.5500,34.7400,6.6150,0.9450,2.2500,0.4500,13.21,8.03,20.0,7.7,72.3
646,BE795585AC,202303,20.2275,12.2235,6.3075,3.9150,0.8700,26.2725,15.8765,8.1925,5.0850,1.1300,7.57,8.03,9.5,12.7,77.7
656,1F01798D03,202306,9.4800,12.5600,7.9200,6.0400,4.0000,14.2200,18.8400,11.8800,9.0600,6.0000,20.99,9.18,24.5,17.2,58.4
700,61472439B5,202308,12.5000,37.5000,0.0000,0.0000,50.0000,0.0000,0.0000,0.0000,0.0000,0.0000,40.00,0.00,-999999.9,-999999.9,-999999.9
701,61472439B5,202309,12.5000,37.5000,0.0000,0.0000,50.0000,0.0000,0.0000,0.0000,0.0000,0.0000,40.00,0.00,-999999.9,-999999.9,-999999.9
790,C530609FDA,202402,46.0631,10.3028,0.7787,2.5757,0.1797,30.8369,6.8972,0.5213,1.7243,0.1203,13.92,6.96,29.1,9.1,61.8
879,150889572A,202312,12.9210,11.0035,3.8055,1.4750,0.2950,30.8790,26.2965,9.0945,3.5250,0.7050,12.30,0.00,-999999.9,-999999.9,-999999.9
900,C530609FDA,202310,41.9342,8.2467,1.0241,2.4255,0.3234,35.8658,7.0533,0.8759,2.0745,0.2766,13.64,6.82,25.4,6.8,67.8
915,A2C52B6B6A,202305,14.0771,6.9071,0.9799,1.5774,0.3346,44.8229,21.9929,3.1201,5.0226,1.0654,14.29,7.73,8.6,2.5,88.9
923,A2C52B6B6A,202303,14.6888,6.8076,0.9760,1.5860,0.3416,45.5112,21.0924,3.0240,4.9140,1.0584,15.41,6.64,1.5,8.8,89.7
956,202266AAE4,202306,12.5064,5.5080,1.5120,1.7064,0.3672,45.3936,19.9920,5.4880,6.1936,1.3328,19.37,8.37,13.1,12.3,74.6
986,C530609FDA,202312,43.6745,8.7010,1.1300,2.6555,0.3955,33.6255,6.6990,0.8700,2.0445,0.3045,13.05,5.22,24.0,4.0,72.0
1034,E74932DE0A,202307,11.7056,5.9472,3.3512,2.1712,0.4248,37.8944,19.2528,10.8488,7.0288,1.3752,8.72,72.67,6.1,14.6,79.3
1045,8CA6B75925,202408,14.2592,6.9888,2.2272,1.6896,0.4352,41.4408,20.3112,6.4728,4.9104,1.2648,3.54,6.42,4.5,12.1,83.3
1061,202266AAE4,202408,12.3097,5.9891,1.6354,1.7017,0.4420,43.3903,21.1109,5.7646,5.9983,1.5580,21.71,5.11,18.7,11.2,70.1
1063,C530609FDA,202309,43.1340,8.1844,0.8848,2.6544,0.4424,34.8660,6.6156,0.7152,2.1456,0.3576,15.25,5.55,25.0,6.3,68.8
1142,CB17914E57,202312,23.5620,6.2832,3.1790,3.8522,0.4862,39.4380,10.5168,5.3210,6.4478,0.8138,8.49,36.70,4.2,8.2,87.6
1154,C530609FDA,202308,42.6113,8.0956,0.8752,2.6256,0.4923,35.2887,6.7044,0.7248,2.1744,0.4077,16.05,2.93,38.7,6.5,54.8
1162,E74932DE0A,202310,13.7144,6.5968,2.2320,1.7608,0.4960,41.5856,20.0032,6.7680,5.3392,1.5040,7.50,34.45,4.7,7.1,88.2
1166,E74932DE0A,202308,13.3713,6.2499,2.7141,2.0916,0.4980,40.3287,18.8501,8.1859,6.3084,1.5020,7.72,39.65,4.5,9.4,86.2
1191,E74932DE0A,202309,13.4444,6.1488,2.4888,1.8056,0.5124,41.6556,19.0512,7.7112,5.5944,1.5876,7.30,30.66,7.2,9.3,83.5
1206,E74932DE0A,202401,14.2766,6.1256,1.9760,1.8031,0.5187,43.5234,18.6744,6.0240,5.4969,1.5813,7.94,13.24,6.0,7.0,87.0
1294,67A793BE25,202401,13.7472,7.3472,1.7408,2.1760,0.5632,39.9528,21.3528,5.0592,6.3240,1.6368,16.40,4.44,17.0,16.3,66.7
1317,CF19A96F63,202308,16.8432,9.3786,2.7115,2.3925,0.5742,35.9568,20.0214,5.7885,5.1075,1.2258,15.05,5.68,10.0,6.7,83.3
1319,1F369B9364,202310,21.0733,9.2981,2.2258,2.7284,0.5744,37.6267,16.6019,3.9742,4.8716,1.0256,3.78,5.90,6.5,4.3,89.2
1358,CB17914E57,202410,22.4604,6.5326,3.1562,4.0003,0.5872,38.7396,11.2674,5.4438,6.8997,1.0128,11.40,9.17,4.2,4.0,91.8
1363,E74932DE0A,202412,16.8424,7.4000,2.2200,2.5456,0.5920,40.0576,17.6000,5.2800,6.0544,1.4080,6.87,8.10,5.5,4.1,90.4
1371,E74932DE0A,202411,17.1350,7.4500,2.1754,2.4734,0.5960,40.3650,17.5500,5.1246,5.8266,1.4040,7.08,8.30,5.7,5.1,89.1
1398,CB17914E57,202407,23.1569,6.9357,3.1078,4.0932,0.6064,37.9431,11.3643,5.0922,6.7068,0.9936,11.35,9.03,6.7,8.5,84.9
1414,E74932DE0A,202408,17.6868,7.8642,2.1114,2.3256,0.6120,40.1132,17.8358,4.7886,5.2744,1.3880,7.90,8.72,3.7,4.3,92.0
1453,CB17914E57,202309,22.0056,12.4232,3.5192,3.8160,0.6360,29.8944,16.8768,4.7808,5.1840,0.8640,11.18,100.00,7.5,28.6,63.9
1511,1F369B9364,202402,20.7388,10.4067,2.6110,2.8348,0.6714,34.8612,17.4933,4.3890,4.7652,1.1286,3.85,4.57,9.3,7.9,82.9
1525,AD57E72BC9,202309,14.8554,6.6024,1.9126,2.1222,0.6812,41.8446,18.5976,5.3874,5.9778,1.9188,17.18,5.85,11.5,12.7,75.8
1608,3F53A733C8,202406,15.2848,10.9552,2.9520,2.8536,0.7216,31.3152,22.4448,6.0480,5.8464,1.4784,19.11,10.47,26.1,26.1,47.8
1618,AD57E72BC9,202301,16.3240,6.7200,2.0160,2.1840,0.7280,41.9760,17.2800,5.1840,5.6160,1.8720,17.55,7.95,10.8,8.2,81.0
1636,CF19A96F63,202402,16.0500,9.9831,2.8569,2.4717,0.7383,33.9500,21.1169,6.0431,5.2283,1.5617,14.98,5.73,5.2,14.2,80.6
1671,BE795585AC,202410,19.3140,13.6752,6.5268,4.1292,0.7548,24.1860,17.1248,8.1732,5.1708,0.9452,9.93,7.32,11.1,12.6,76.3